.allmainPageBody {
  margin-left: 25%;
  margin-right: 15%;
}

.swiper {
  width: 600px;
  height: 300px;
}

.searchbox {
  width: 1468.96px;
  height: 250px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* 수평 가운데 정렬 */
  z-index: 1;
}

.searchBg {
  align-items: center;
  justify-content: center;
  display: flex;
  vertical-align: middle;
  margin-top: 109px;
  position: relative; /* 상대 위치로 설정 */
  z-index: -1;
  width: 100%;
  opacity: 0.8;
}


.searchinputbox {
  position: absolute;
  top: 70%;
  left: 36%;
  width: 100%;
}

.searchInput {
  width: 500px;
  height: 50px;
  font-size: 12pt;
  border-radius: 25px;
  border: 2px solid rgb(255, 209, 45, 0.8);
  padding-inline: 40px;
  font-size: 1.05rem;
}

input::placeholder{
  position: absolute;
  top: 47%;
  left: 8%; /* 원하는 위치로 조정 */
  transform: translateY(-50%);
  pointer-events: none; 
}

input:focus {
  border-color: rgb(255, 209, 45, 0.8);
  outline: none;
}


.searchButton {
  width: 40px;
  vertical-align: middle;
  margin-left: 10px;
  cursor: pointer;
}

.bodyBox {
  display: flex;
  justify-content: center;
}

.row1 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 150px;
}

.row2 {
  display: flex;
  margin: 30px 0px;
  gap: 20px;
}

.box1 {
  text-align: center;
}

.box1 article {
  float: left;
  display: flex;
  flex-direction: column;
}

.box2 article {
  float: right;
  display: flex;
  flex-direction: column;
}

.box3 {
  margin-left: 11%;
}

.box3 img {
  width: 400px;
  height: auto;
}

.box4 {
  margin-left: 11%;
}

.row3 {
  justify-content: center;
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
}

.box5 {
  float: left;
}

.box5 img {
  width: 370px;
  height: 350px;
  margin-right: 20px;
}

.box6 {
  float: left;
}

.box6 img {
  width: 370px;
  height: 350px;
}

.box7 {
  margin-left: 20px;
}

.box7 img {
  width: 370px;
  height: 350px;
}


.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.imageContainer img {
  width: 400px;
  height: 350px;
}

.imageContainer p {
  text-align: center;
}

.overlayText {
  /* position: absolute; */
  top: 455px;
  font-size: 17pt;
  font-weight: 600;
}

.monthRes {
  position: absolute; 
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30pt;
  font-weight: 800;
  color: rgba(133, 38, 38, 0.899);
}

.pixmagazine {
  position: absolute; 
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30pt;
  font-weight: 800;
  color:white;
  text-align: center;
}

.menuImage {
  cursor: pointer;
  display: block;
  align-items: center;
  opacity: 0.8;
}

.menuImage2 {
  display: block;
  align-items: center;
  opacity: 0.8;
}

.pixTitle {
  font-size: 30pt;
  font-weight: bold;
  margin-bottom: 5%;
  color: rgb(251, 75, 85);
}

.pixDetail {
  margin-top: 10%;
  font-size: 13pt;
  margin-bottom: 5%;
}

.pixbtn {
  background-color: white;
  border-color: rgba(121, 120, 120, 0.692);
  color: rgb(251, 75, 85);
  font-size: 13pt;
  padding: 3%;
  margin-top: 4%;
  border-radius: 10px;
}
