.allmainPageBody {
  margin-left: 15%;
  margin-right: 15%;
}

.searchbox {
  width: 1470px;
  height: 250px;
  position: relative;

  >img {
    width:100%;
    height:100%;
  }
}

.searchBg {
  align-items: center;
  justify-content: center;
  display: flex;
  vertical-align: middle;
}

.searchinputbox {
  position: absolute;
  top: 70%;
  left: 36%;
  width: 100%;
}

.searchInput {
  width: 400px;
  height: 25px;
}

.searchButton {
  width: 30px;
  vertical-align: middle;
  margin-left: 10px;
}

.bodyBox {
  display: flex;
  justify-content: center;
}

.row1 {
  margin:30px 0px;
  gap: 100px;
}

.row2 {
  margin:30px 0px;
  gap: 51px;
}

.box1 {
  display: flex;
}

.box1 article {
  width: 250px;
  height: 250px;
  float: left;
  margin-left: 16%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;

}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  width: 100%;
  height: 100%;
}

.box img {
  width: 100px;
  height: auto;
}

.overlayText {
  position: absolute;
  top: 455px;
  font-size: 18px;
  font-weight: 900;
}

.box2 {
  width: 166px;
  height: 166px;
}

.menuImage {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
}