.flexContainer {
    
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: center;
}

.flexItem1 {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 15%;
}
.flexItem2 {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 15%;
}


.ResTitleName{
    margin-top: 3%;
    margin-left: 15%;
    margin-bottom: 2%;
    font-weight: bold;
    font-size: large;
}

.RestaurantBox1,
.RestaurantBox2,
.RestaurantBox3{
    flex: 0 0 auto;
    width: 33.33%;
}

.img16 {
    width: 200px;
    height: 250px;
    border-radius: 5%;
}
.ResTitle {
    align-items: center;
}

.ResName {
    margin-right: 5px;
}

.ResCategory {
    font-size: 0.8em;
    background-color: #f0f0f0;
    padding: 2px 5px;
    border-radius: 3px;
}

.paging {
    text-align: center;
    margin-top: 2%;
    font-size: 15pt;
}

.select1{
    display: inline-block;
    background-color: rgb(255, 209, 45, 0.8);
    border: 2px ;
    border-radius: 10%;
    padding: 5px 8px;
}
.select2 {
    display: inline-block;
    margin: 0.5%;
    border: 1px solid rgba(0, 0, 0, 0.382);
    padding: 5px 8px;
    border-radius: 10%;
}

.navlink:focus, .navlink:active , .navlink:visited {
    text-decoration: none;
    color: black;
}