.resImages {
    display: flex;
    /* position: absolute; */
    height: 400px;
    object-fit: cover;
    /* border: 1px solid greenyellow; */
}

.resImage {
    left: 50%;
    height: 100%;
    width: 100%;
}

.resInfo {
    margin-left: 1%;
    margin-top: 1%;
    display: flex;
}

.pixStar {
    margin-top: 1%;
    margin-bottom: 1%;
}

.resInfoBox {
    margin-left: 5%;
    margin-right: 5%;

}

.iconSize {
    block-size: 25px;
}

.resInfoTextBox {
    border: 1px solid rgb(190, 190, 190);
    block-size: 100%;
    margin-bottom: 1%;
    height: 100%;
    width: 100%;
}

.map {
    block-size: 100%;
    height: 500px;
    border: 1px solid rgb(190, 190, 190);
    margin-bottom: 1%;
}

.preferResBox {
    display: flex;
    margin: auto;
}

.preferRes {
    left: 50%;
    width: 100%;
    height: 100%;
    margin: 1%;
    display: block;
}


.reservationDateTimeText {
    margin-left: 2%;
}
.reservationBox {
    display: flex;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5%;
    margin-left: 2%;
    margin-right: 70%;
    align-items: center;
    justify-content: space-between;
    height: 45px;
}

.calendarIconTextBox {
    display: flex;
    margin-left: 3%;
}

.calendarIcon {
    block-size: 25px;
}

.vIcon {
    cursor: pointer;
    block-size: 25px;
    width: fit-content;
    color: rgb(251, 75, 85);
    background: white;
    border: 0;
    /* align-items: end; */
}

.vIcon:hover {
    border: 1px solid rgb(251, 75, 85);
}

.reservationText {
    width: 200px;
    margin-left: 1%;
    
}

.timeItem {
    cursor: pointer;
    font-size: medium;
    /* width: fit-content;
    height: fit-content; */
    border: 0;
    border-radius: 10%;
    margin-right: -1%;
}

.reservationButton {
    cursor: pointer;
    border: 1px solid rgb(251, 75, 85);
    background: white;
    color: rgb(251, 75, 85);
    border-radius: 10%;
    margin-left: 45%;
}

.timeItem:hover {
    background-color: gray;
    color: white;
}

.reservationButton:hover {
    border: 2px solid rgb(251, 75, 85);
}