/* <은성님/> 하나로 합치세요 아시겠어요? 은파은파~ */
.allbox {
    margin-top:108px;
    margin-left:10%;
}

.allContents {
    size: 100%;
}

.resImages {
    text-align: center;
    display: flex;
    /* position: absolute; */
    height: 400px;
    object-fit: cover;
    margin-left: 95px;
    margin-right: 85px;
}

.resImage {
    
    left: 50%;
    height: 100%;
    width: 100%;
}

.pixboxdetail{
    height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.resInfo {
    margin-left: 1%;
    display: flex;
    align-items: center;
}

.pixStar {
    height: 160%;
    object-fit: cover;
    margin-top: 17px;
    margin-left: 10px;
}

.nameCategoryBox {
    display: flex;
    margin-top: 40px;
}

.name {
    font-size: 30pt;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 5px;
}

.category {
    align-self: center;
    font-size: 1.2em;
    background-color: #f8f8f8;
    color: rgb(70, 70, 70);
    padding: 7px;
    border-radius: 3px;
    font-weight: bolder;
    margin-left: 30px;
}

.numberReviewText {
    cursor: pointer;
    padding: 7px;
    align-self: center;
    margin-left: 20px;
    color: rgb(145, 145, 145);
    font-weight: 500;
}


.bookmarkLikeBox {
    float: right;
    display: flex;
    width: 90px;
    height: 40px;
    margin-top: -55px;
    margin-bottom: 20px;
    /* background-color: aqua; */
    justify-content: space-between;
}

.resInfoBox {
    margin-left: 5%;
    margin-right: 5%;
}

.address {
    margin-right: 54px;
    font-weight: bold;
    margin-left: 7px;
}

.phone {
    margin-right: 54px;
    font-weight: bold;
}

.time {
    margin-right: 24px;
    font-weight: bold;    
}

.price {
    margin-right: 40px;
    font-weight: bold;
}

.resDetail {
    margin-left: 18px;
    margin-bottom: 15px;
}

.iconSize {
    block-size: 25px;
}

.resInfoTextBox {
    border: 1px solid rgb(190, 190, 190);
    block-size: 100%;
    margin-bottom: 1%;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

.resDetailDe {
    margin-left: 18px;
    margin-bottom: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.resdeTitle {
    font-weight: 700;
    font-size: 12pt;
    margin-left: 35px;
    margin-bottom: 10px;
}

.resdeSide {
    margin-left: 53px;
    font-size: 9pt;
    
}

.reservationDateTimeText {
    margin-left: 2%;
}

.photoReviewBox {
    display: flex;
    margin-top: 40px;
}

.allReviewText {
    cursor: pointer;
    padding: 7px;
    align-self: center;
    margin-left: 20px;
    color: rgb(129, 129, 129);
    font-weight: 500;
    font-size: 0.9em;
}

.resReviewBox {
    border: 1px solid rgb(190, 190, 190);
    block-size: 100%;
    margin-bottom: 2%;
    /* height: 100%; */
    width: 100%;
}

.review {
    width: 100px;
    margin-left: 7px;
}

.resReviewImages {
    display: flex;
    height: 200px;
    width: 100%;
    /* object-fit: cover; */
}

.reviewImage {
    
    left: 50%;
    height: 100%;
    width: 100%;
}

.reviewInfo {
    margin-top: 5px;
    margin-left: 1%;
    display: flex;
    align-items: center;
}

.reviewContent {
    margin-left: 48px;
    font-size: 9pt;
}    

.map {
    block-size: 100%;
    height: 500px;
    border: 1px solid rgb(190, 190, 190);
    margin-bottom: 1%;
}

.preferResBox {
    display: flex;
    margin: auto;
    text-align: center;
}

.preferRes {
    left: 50%;
    width: 100%;
    height: 100%;
    margin: 1%;
    display: block;
}

.mapButton {
    margin-top: -17px;
    cursor: pointer;
    border: 0;
    padding: 0;
    text-decoration: underline;
    float: right;
    color: rgb(251, 75, 85);
    font-weight: bolder;
    border-radius: 5%;
}

.mapButton:hover {
    background: rgb(255, 209, 45, 0.7);
}