footer {
        position: relative;
        margin: 20px auto 0px auto;
        padding: 30px;
        background-color: yellow;
        border-top: 1px solid rgb(242, 243, 176);
        text-align: center;
        justify-content: center;
        white-space: nowrap;
}
