header{
    position: fixed;
    display: flex;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgba(155, 155, 155, 0.541);
    padding: 20px 20%;
    margin: 0px;
}

.logoImg {
    position: absolute;
    height: 70px;
    width:300px;
    margin: 0 auto;
}

.headerMenu{
    position: relative;
    width: 200px;
    margin-left: 950px;
    margin-top: 23px;
}

.headerMenu :hover{
    opacity: 0.5;
}