header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 95px;
    background-color: white;
    border-bottom: 1px solid rgba(155, 155, 155, 0.541);
    margin-top:0;
    padding-top: 20px;
    top: 0;
    left:0;
    z-index: 999;
}

.logoImg {
    cursor: pointer;
    position: absolute;
    height: 70px;
    margin: 0 43%
}

.headerMenu{
    position: absolute;
    width: 100%;
    margin: 23px 70%;
}

.headerMenu :hover{
    opacity: 0.5;
}