header{
    position: fixed;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgba(155, 155, 155, 0.541);
    padding: 20px 20%;
    margin-top:0;
    top: 0;
    left:0;
    
}

.logoImg {
    position: absolute;
    height: 70px;
    margin-left: 500px;
}

.headerMenu{
    position: relative;
    width: 200px;
    margin-left: 700px;
    margin-top: 23px;
}

.headerMenu :hover{
    opacity: 0.5;
}