header{
    display: flex;
    position: fixed;
    width: 1100px;
    background-color: white;
    border-bottom: 1px solid rgba(155, 155, 155, 0.541);
    height: 80px;
    margin: 20px auto;
}

.logoImg {
    position: absolute;
    height: 70px;
    margin-left: 475px;
}

.headerMenu{
    position: absolute;
    width: 200px;
    margin-left: 950px;
    margin-top: 23px;
}

.headerMenu :hover{
    opacity: 0.5;
}