.sideBox{
    display: flex;
    height: 100%;
    overflow: scroll initial;
}

.sidebar{
    color:#ffffff;
    background-color: rgb(255, 209, 45); opacity: 0.8;
    border-radius: 5%;
} 

.sidebarTitle{
    text-decoration: none;
    color: inherit;
}

.sidebarFooter{
    text-align: center;
    font-size: small;
}

.sidebarFooterText{
    padding-top: 20px;
    padding-bottom: 20px;
}